@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

*{margin:0;padding:0;}

body{
	font-family: 'Work Sans', sans-serif;
	font-size:16px;
}
h1 h2 h3 h4 h5 h6 {
	font-family: 'Oswald', sans-serif;
	font-weight:500px;
}
#topbar{
    background:#F5F5F5;
	
}

.topbarWrapper {
    overflow: hidden;
}
.container {
    width: 1140px;
	padding-right: 15px;
	padding-left:15px;
    margin: auto;
	
}
.phone {
    width: 210px;
	float:left;
	padding:15px 10px;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
		
}
.Email {
    width: 738px;
	float:left;
	padding:15px 10px;
	
}
.social {
    width: 142px;
	float:left;
	transition:.3s;
}
.phone i{
	color:#FF5200;
}
.Email i{
	color:#FF5200;
}
.social i:hover{
	color:#FF5200;
}
.social a{
	display:block;
	float:left;
	padding:15px;
	border-right:1px solid #ddd;
	color: #2b2b2b;
}
.social a:first-child{
border-left:1px solid #ddd;
}
